{{- $name := promptStringOnce . "name" "Your name" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $work := promptBoolOnce . "work" "Is this a work computer?" -}}

[data]
    xdgCacheDir  = "{{ .chezmoi.homeDir }}/.cache"
    xdgConfigDir = "{{ .chezmoi.homeDir }}/.config"
    xdgDataDir   = "{{ .chezmoi.homeDir }}/.local/share"
    xdgStateDir  = "{{ .chezmoi.homeDir }}/.local/state"
    name         = {{ $name | quote }}
    email        = {{ $email | quote }}
    work         = {{ $work }}
