{{- $name := promptStringOnce . "name" "Name" -}}
{{- $git_email := promptStringOnce . "email" "Email address for git operations" -}}
{{- $work := promptBoolOnce . "work" "Is this a computer to be used at work (y/n)" -}}

{{- if not $work }}
{{- $identity := promptStringOnce . "identity" "Identity file path for age encryption" -}}
{{- $recipient := promptStringOnce . "recipient" "Public key for age encryption" -}}

encryption = "age"
[age]
    identity = "{{ $identity }}"
    recipient = "{{ $recipient }}"
{{ end -}}

[data]
    xdgCacheDir  = "{{ .chezmoi.homeDir }}/.cache"
    xdgConfigDir = "{{ .chezmoi.homeDir }}/.config"
    xdgDataDir   = "{{ .chezmoi.homeDir }}/.local/share"
    xdgStateDir  = "{{ .chezmoi.homeDir }}/.local/state"
    name         = {{ $name | quote }}
    git_email    = {{ $git_email | quote }}
    work         = {{ $work }}
