[init]
	defaultBranch = main
[core]
	editor = /opt/homebrew/bin/nvim
	pager = delta
	quotepath = false
[interactive]
	diffFilter = delta --color-only
[worktree]
	guessRemote = true
[include]
    path = ~/.gitconfig.user
[delta]
    navigate = true # use n and N to move between diff sections
    side-by-side = true
[merge]
    conflicstyle = zdiff3
[diff]
    colorMoved = default
