# Ignore everything
/*

# ----------
# Exceptions

# This file
!.gitignore

# Explain what this setup is about
!README.md

# Git
!.gitconfig

# Zsh + Oh My Zsh!
!.zshrc
!/.zsh-custom

# ==== .config directory =================================================
# Don't ignore the directory itself (to later allow subdirectories and files to be tracked),
# but ignore everything inside the directory until overriden in the following lines
!/.config
/.config/*

# ---- Neovim -------------------
!/.config/nvim
/.config/nvim/lazy-lock.json
# .... Spell Check
# A little hacky:
# 1. Do not ignore the directory
!/.config/nvim/spell/
# 2. Ignore everything inside the directory
/.config/nvim/spell/*
# 3. Do not ignore custom spellfiles, those contain manually added words
#    This leaves out general spellfiles, they can be downloaded if necessary
!/.config/nvim/spell/*add*

# Kitty
!/.config/kitty

# KeePassXC
!/.config/keepassxc

# yabai + skhd (macOS only)
!/.config/yabai
!/.config/skhd
