[init]
	defaultBranch = main
[core]
	editor = /usr/bin/vim
	pager = delta
	quotepath = false
[interactive]
	diffFilter = delta --color-only
[worktree]
	guessRemote = true
[include]
    path = ~/.gitconfig.user
[delta]
    navigate = true # use n and N to move between diff sections
    side-by-side = true
[merge]
    conflicstyle = diff3
[diff]
    colorMoved = default
