[init]
	defaultBranch = main
[core]
	editor = /usr/bin/vim
	pager = diff-so-fancy | less --tabs=4 -RFX
	quotepath = false
[interactive]
	diffFilter = diff-so-fancy --patch
[worktree]
	guessRemote = true
[include]
    path = ~/.gitconfig.user
