[user]
    name = {{ .name | quote }}
    email = {{ .git_email | quote }}
[init]
	defaultBranch = main
[core]
    {{ if eq .chezmoi.os "linux" }}
	editor = /usr/bin/nvim
    {{ else if eq .chezmoi.os "darwin" }}
    editor = /opt/homebrew/bin/nvim
    {{ end }}
	pager = delta
	quotepath = false
[interactive]
	diffFilter = delta --color-only
[worktree]
	guessRemote = true
[delta]
    navigate = true # use n and N to move between diff sections
    side-by-side = true # when true this wraps long lines, set to false to see details
[merge]
    conflicstyle = zdiff3
[diff]
    colorMoved = default
