start_time=$(date +%s.%N)
echo "Loading $(basename -- "$0")..."

# ===== PATHS =================================================================

# Where is oh-my-zsh installed
export ZSH=$ZDOTDIR/.oh-my-zsh"

# Custom folder
ZSH_CUSTOM=$ZDOTDIR/.custom

# Put dump file in CACHE
# This file is the compiled completion table
ZSH_COMPDUMP=$XDG_CACHE_HOME/zsh/zcompdump

# Put history file in STATE
HISTFILE=$XDG_STATE_HOME/zsh/history

# ===== GENERAL CONFIGURATION =================================================

# Theme
ZSH_THEME="fino-time"

# Auto-update behavior: disabled, auto or reminder
zstyle ':omz:update' mode reminder  # just remind me to update when it's time

# Command execution time stamp shown in the history command output.
HIST_STAMPS="yyyy-mm-dd"

# Plugins
plugins=(git web-search copypath copybuffer dirhistory history jsontools)

# ===== INIT ==================================================================

# Homebrew
{{ if eq .chezmoi.os "linux" }}
[[ -x /home/linuxbrew/.linuxbrew/bin/brew ]] && eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{ else if eq .chezmoi.os "darwin" }}
[[ -x /opt/homebrew/bin/brew ]] && eval "$(/opt/homebrew/bin/brew shellenv)"
{{- end }}

# Completion table
# Recompile if last compilation is older than a week, skip otherwise
autoload -Uz compinit
if [[ -n $ZSH_COMPDUMP(#qN.mw+1) ]]; then
    compinit
else
    compinit -C
fi

# Oh My Zsh main configuration
source $ZSH/oh-my-zsh.sh

# Ensure key bindings

{{ if eq .chezmoi.os "darwin" }}
bindkey "\e[1;3D" backward-word # ⌥←
bindkey "\e[1;3C" forward-word # ⌥→
{{ end }}

end_time=$(date +%s.%N)
runtime=$(echo "$end_time - $start_time" | bc)
echo "Finished loading $(basename -- "$0") in $runtime seconds."
